<div class="card">
  <div class="card-body">
    <p class="card-text">
      <strong><%= t('activerecord.attributes.test.category') %>:</strong>
      <%= @test.category.title %>
    </p>

    <p class="card-text">
      <strong><%= t('activerecord.attributes.test.title') %>:</strong>
      <%= @test.title %>
    </p>

    <p class="card-text">
      <strong><%= t('activerecord.attributes.test.level') %>:</strong>
      <%= @test.level %>
    </p>

    <p class="card-text">
      <strong><%= t('activerecord.attributes.test.author') %>:</strong>
      <%= @test.author.email %>
    </p>

    <p class="card-text">
      <strong><%= t('activerecord.attributes.test.timer') %>:</strong>
      <%= @test.timer %>
    </p>

    <%= render 'admin/questions/index', questions: @test.questions, test: @test %>
  </div>
</div>

<%= link_to t('edit'), edit_admin_test_path(@test) %> |
<%= link_to t('back'), admin_tests_path %>
